@import '../../../styles/variables';

.menu {

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0 10px;
  }

  &__link {
    padding: 8px 10px;
    font-weight: 400;
    font-size: 12px;
    color: $black;
    transition: color $animation ;

    &:hover {
      color: $black_hover;
    }

    &:active {
      transition: none;
      color: $black;
    }
  }
}

.window {
  position: relative;

  &__triangle {
    display: block;
    position: absolute;
    top: 50%;
    right:0;
    width: 5.8px;
    height: 5.8px;
    border-radius: 50%;
    overflow: hidden;
    transform: translateY(-50%) rotate(180deg);
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%);
      width: 0;
      height: 0;
      border-left: 3.3px solid transparent;
      border-right: 3.3px solid transparent;
      border-bottom: 5px solid $black;
      opacity: 0;
      transition: all $animation;
    }
  }

  &:hover {
    .window__list {
      visibility: visible;
      opacity: 1;
    }

    .menu__link {
      color: $black_hover;
    }

    .window__triangle::before {
      opacity: 1;
      border-bottom-color: $black_hover;
    }
  }

  &__list {
    visibility: hidden;
    position: absolute;
    top: 25px;
    left: 10px;
    min-width: 100%;
    opacity: 0;
    transition: all $animation;
    border: 1px solid $black;
    border-radius: 2px;
    background: $silver;
  }

  &__item {
  }

  &__link {
    padding: 0 10px;
    display: block;
    font-weight: 400;
    font-size: 12px;
    color: $black;
    transition: color $animation;

    &:hover {
      color: $black_hover;
    }

    &:active {
      transition: none;
      color: $black;
    }
  }
}
