@import './normalize';
@import './variables';
@import './fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
  font-family: $font_family_roboto;
  font-weight: 400;
  font-size: 16px;
  height: 100vh;
  color: $black;
  background-color: $white;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0px auto;
}