$black: #000;
$black_hover: #8b8b8b;
$black_active: #00000070;
$black_06:rgba(0, 0, 0, 0.6);
$black_03:rgba(0, 0, 0, 0.3);
$white: #fff;
$silver: #eee;
$silver_img: #c4c4c4;
$absence: #b0b0b0;
$anketa: #00d6ff;
$border_input:#f9f9f9;
$label: #bebebe;
$card: #e0e0e0;

$animation: .4s;
$animation_2: .1s;