@import '../../../styles/variables';

.geo {
  font-size: 12px;
  font-weight: 700;
  color: $black;
  transition: color $animation;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 116px;

  &:hover {
    color: $black_hover;

    .geo__img {
      fill: $black_hover;
    }
  }

  &:active {
    transition: none;
    color: $black;

    .geo__img {
      transition: none;
      fill: $black;
    }
  }

  &__img {
    fill: $black;
    transition: fill $animation;
  }
}

