@import '../../styles/variables';
@import '../../styles/fonts';

.footer {
  background-color: $black;
  padding-top: 47px;
  padding-bottom: 103px;

  &__top {
  }
}

.form {
  font-family: $font_family_loto;

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: $anketa;
    margin-bottom: 50px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__group {
    position: relative;
    max-width: 232px;

    &::after {
      content: '';
      position: absolute;
      bottom: 10px;
      left:0;
      width: 100%;
      height: 1px;
      background-color: $border_input;
      transition: $animation;
    }
  }

  &__hint {
    display: flex;
    flex-direction: row-reverse;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: $animation;

    &--inputActive {
      top: 10%;
      opacity: .5;

      .form__label {
        font-size: 12px;
      }

      .form__img {
        width: 18px;
        height: 18px;

        &--email {
          width: 25px;
        }
      }

    }
  }

  &__img {
    width: 22px;
    height: 22px;
    fill: $anketa;
    transition: $animation;

    &--email {
      width: 29px;
    }
  }

  &__input {
    font-family: $font_family_loto;
    font-size: 16px;
    padding: 20px 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: $label;
    cursor: pointer;
    transition: $animation;
  }

  &__label {
    color: $label;
    margin-left: 10px;
    transition: $animation;
  }

  &__button {
    font-family: $font_family_loto;
    padding: 23px 51px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: $white;

    &:active {
      background-color: $label;
    }
  }
}

.subscription {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000063;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  visibility: hidden;
  opacity: 0;

  &--active {
    visibility:visible;
    opacity: 1;
  }

  &__text {
    background-color: $white;
    border-radius: 3px;
    padding: 10px 30px;
    font-size: 20px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  background-color: transparent;
}