@import '../../../styles/variables';

.content {

  margin-bottom: 80px;

  &__title {
    margin-bottom: 30px;
  }
  &__wrapper {
    position: relative;
  }

  &__swiper {
    margin-bottom: 80px;

    position: relative;

    .swiper-button-prev,
    .swiper-button-next{
      position: absolute;
      margin: 0;
      top: 50%;
      background: #000;
      height: 40px;
      width: 40px;
      left: 0;
      transform: translateY(-50%);
      // display: block;

      &::after {
        font-size: 0;
      }
    }
  }

  &__item {
    height: 180px;
    background-color: $silver_img;
    position: relative;
  }

  &__video {}
  &__play {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      .content__svg {
        visibility: visible;
        opacity: 1;
      }
    }
    &:active {
      .content__svg {
        transition: none;
        transform: scale(0);
      }
    }

  }
  &__svg {
    transition: $animation;
    visibility: hidden;
    opacity: 0;
    fill: $black;
  }

  &__subtitle {
  }

  &__navigation {
    position: absolute;
    top:50%;
    z-index: 50;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
  }

  &__next,
  &__prev {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: $black;
    cursor: pointer;
    transition: $animation;
    transform: translateY(-50%);

    svg {
      fill: $white;
    }

    &:active {
      transition: none;
      background-color: $black_hover;
    }

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__next {
    right: -50px;

  }

  &__prev {
    left: -50px;
    transform: rotate(-180deg) translateY(50%);
  }
}
