@import '../../../styles/variables';

.content {

  margin-bottom: 80px;

  &__title {
    margin-bottom: 30px;
  }
  &__wrapper {
    position: relative;
  }

  &__swiper {
    margin-bottom: 80px;

    position: relative;

    .swiper-button-prev,
    .swiper-button-next{
      position: absolute;
      margin: 0;
      top: 50%;
      background: #000;
      height: 40px;
      width: 40px;
      left: 0;
      transform: translateY(-50%);
      // display: block;

      &::after {
        font-size: 0;
      }
    }
  }

  &__item {
    height: 180px;
    background-color: $silver_img;
    position: relative;
  }

  &__video {}
  &__play {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      .content__svg {
        visibility: visible;
        opacity: 1;
      }
    }
    &:active {
      .content__svg {
        transition: none;
        transform: scale(0);
      }
    }

  }
  &__svg {
    transition: $animation;
    visibility: hidden;
    opacity: 0;
    fill: $black;
  }

  &__subtitle {
  }
}
