@import '../../../styles/variables';

.catalog {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  max-width: 560px;

  &__button {
    padding: 13px 20px;
    background-color: $black;
    color: $white;
    display: inline-flex;
    align-items: center;
    border-radius: 6px 0 0 6px;
    transition: background-color $animation;

    &:hover {
      background-color: $black_hover;
    }

    &:active {
      transition: none;
      background-color: $black;
    }
  }

  &__burger {
    display: block;
    width: 19px;
    height: 19px;
    position: relative;
    margin-right: 10px;

    span {
      position: absolute;
      display: block;
      top: 3px;
      left:0;
      width: 15px;
      height: 2px;
      background-color: $white;

      &:nth-child(2) {
        top: 50%;
        width: 10px;
        transform: translateY(-50%);
      }

      &:last-child {
        top: auto;
        bottom: 3px;
      }
    }
  }

  &__input {
    flex-basis: 430px;
    flex-shrink: 1;
    border: none;
    border-radius: 0 6px 6px 0;
    padding: 0 45px 0 20px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $black;
      opacity: .4;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    opacity: .4;
    cursor: pointer;
  }
}

